body {
    overflow-x: hidden;
}
:root {
    --bs-primary-rgb: 186, 229, 192;
    --bs-secondary-rgb: 134, 174, 148;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 39, 47, 64;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 227, 199, 224;
}

.nav-link, .nav-link:visited {
    color: rgb(var(--bs-primary-rgb));
}

.nav-link:hover {
    color: rgb(var(--bs-secondary-rgb));
}

img {
    width: 100% !important;
    height: auto !important;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--bs-primary-rgb));
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
.nav-link:hover::after {
    transform: scaleX(1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    color: rgb(var(--bs-dark-rgb));
    margin: 0 !important;
    text-shadow: rgba(255, 255, 255, 0.3) 5px 5px 15px;
}

header h1 {
    color: white !important;
}
#banner > img {
    width: 100%;
    height: auto;
}

#banner {
    margin-top: -10%;
}

p {
    text-align: justify;
}

header {
    margin-top: 2%;
}

nav {
    margin-top: -8%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(26, 26, 26);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }