body {
    overflow-x: hidden;
}
:root {
    --bs-primary-rgb: 186, 229, 192;
    --bs-secondary-rgb: 134, 174, 148;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 39, 47, 64;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 227, 199, 224;
}

.nav-link, .nav-link:visited {
    color: rgb(var(--bs-primary-rgb));
}

.nav-link:hover {
    color: rgb(var(--bs-secondary-rgb));
}

img {
    width: 100% !important;
    height: auto !important;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--bs-primary-rgb));
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
.nav-link:hover::after {
    transform: scaleX(1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    color: rgb(var(--bs-dark-rgb));
    margin: 0 !important;
    text-shadow: rgba(255, 255, 255, 0.3) 5px 5px 15px;
}

header h1 {
    color: white !important;
}
#banner > img {
    width: 100%;
    height: auto;
}

#banner {
    margin-top: -10%;
}

p {
    text-align: justify;
}

header {
    margin-top: 2%;
}

nav {
    margin-top: -8%;
}